.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.item-image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.item-name {
    font-size: 19px;
    font-weight: bold;
    margin: 1px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.item-name:hover {
    color: blue;
}

.item-price {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
