.banner {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.banner-content {
    max-width: 1000px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-title {
    color: white;
    font-weight: bold;
    font-size: 90px;
    line-height: 80px;
    text-transform: uppercase;
    margin: 0;
}

.shop-button {
    background-color: dimgray;
    padding: 5px 50px;
    font-size: 18px;
    line-height: 46px;
    display: flex;
    width: 210px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    text-decoration: none;
}

.item-list-container {
    max-width: 1170px;
    margin: 50px auto;
}
