.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    background-color: darkmagenta;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
}

.navbar {
    display: flex;
    gap: 15px;
    font-size: 30px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 40px;
    transition: background-color 0.3s;
    font-size: 20px;
}

.navbar-link:hover {
    background-color: deeppink;
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-menu,
.dropdown .dropdown-menu.active {
    display: flex;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-around;
        width: 10%;
    }

    .search-bar {
        justify-content: center;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        background-color: transparent;
    }

    .dropdown-menu a {
        color: white;
        padding: 10px;
        display: block;
    }
}

@media (min-width: 769px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
    }
}

.mobile-navbar .navbar-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

.mobile-navbar .navbar-link svg {
    font-size: 1.5rem;
}

.cart-section {
    position: relative;
}

.cart-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 1000;
    padding: 10px;
}

.cart-section:hover .cart-dropdown {
    display: block;
}

