html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-content {
    flex: 1;
}

.footer {
    background-color: darkmagenta;
    color: white;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    height: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 200px;
}

.company-info {
    font-size: 14px;
    text-align: center;
}

.footer-links {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 40px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
}

.footer-links a:hover {
    background-color: deeppink;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .footer-links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .footer-links a {
        flex: 1 1 auto;
        max-width: 140px;
        padding: 5px 10px;
        text-align: center;
        font-size: 0.8rem;
    }

    .company-info {
        margin-bottom: 10px;
    }
}
